<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gunn High School Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47F1F4801CE7FAD3005628C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47F1F4941CE7FAD4005628C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47F1F49F1CE7FAD4005628C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
